In this notebook I will create a synthesized version of my original dataset using the Gaussian Copula model.

In mathematical terms, a *copula* is a distribution over the unit cube
${\displaystyle [0,1]^{d}}$ which is constructed from a multivariate
normal distribution over ${\displaystyle \mathbb {R} ^{d}}$ by using the
probability integral transform. Intuitively, a *copula* is a
mathematical function that allows us to describe the joint distribution
of multiple random variables by analyzing the dependencies between their
marginal distributions.

In [101]:
import pandas as pd
import csv
from sdv.tabular import GaussianCopula
import warnings
warnings.filterwarnings('ignore', 'The iteration is not making good progress')

In [102]:
df = pd.read_csv("compas-python-master/compas-scores-two-years-copy.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7214 entries, 0 to 7213
Data columns (total 53 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       199 non-null    float64
 1   name                     199 non-null    object
 2   first                    199 non-null    object
 3   last                     199 non-null    object
 4   compas_screening_date    199 non-null    object
 5   sex                      199 non-null    object
 6   dob                      199 non-null    object
 7   age                      199 non-null    float64
 8   age_cat                  199 non-null    object
 9   race                     199 non-null    object
 10  juv_fel_count            199 non-null    float64
 11  decile_score             199 non-null    float64
 12  juv_misd_count           199 non-null    float64
 13  juv_other_count          199 non-null    float64
 14  priors_count             199 non-null    float64
 15  days_b_screening_arrest  192 non-null    float64
 16  c_jail_in                192 non-null    object
 17  c_jail_out               192 non-null    object
 18  c_case_number            198 non-null    object
 19  c_offense_date           166 non-null    object
 20  c_arrest_date            32 non-null     object
 21  c_days_from_compas       198 non-null    float64
 22  c_charge_degree          199 non-null    object
 23  c_charge_desc            197 non-null    object
 24  is_recid                 199 non-null    float64
 25  r_case_number            108 non-null    object
 26  r_charge_degree          108 non-null    object
 27  r_days_from_arrest       70 non-null     float64
 28  r_offense_date           108 non-null    object
 29  r_charge_desc            107 non-null    object
 30  r_jail_in                70 non-null     object
 31  r_jail_out               70 non-null     object
 32  violent_recid            0 non-null      float64
 33  is_violent_recid         199 non-null    float64
 34  vr_case_number           26 non-null     object
 35  vr_charge_degree         26 non-null     object
 36  vr_offense_date          26 non-null     object
 37  vr_charge_desc           26 non-null     object
 38  type_of_assessment       199 non-null    object
 39  decile_score.1           199 non-null    float64
 40  score_text               199 non-null    object
 41  screening_date           199 non-null    object
 42  v_type_of_assessment     199 non-null    object
 43  v_decile_score           199 non-null    float64
 44  v_score_text             199 non-null    object
 45  v_screening_date         199 non-null    object
 46  in_custody               192 non-null    object
 47  out_custody              192 non-null    object
 48  priors_count.1           199 non-null    float64
 49  start                    199 non-null    float64
 50  end                      199 non-null    float64
 51  event                    199 non-null    float64
 52  two_year_recid           199 non-null    float64
dtypes: float64(20), object(33)
memory usage: 2.9+ MB

In [103]:
df_clean = df.drop(df.index[300:])
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 53 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       199 non-null    float64
 1   name                     199 non-null    object
 2   first                    199 non-null    object
 3   last                     199 non-null    object
 4   compas_screening_date    199 non-null    object
 5   sex                      199 non-null    object
 6   dob                      199 non-null    object
 7   age                      199 non-null    float64
 8   age_cat                  199 non-null    object
 9   race                     199 non-null    object
 10  juv_fel_count            199 non-null    float64
 11  decile_score             199 non-null    float64
 12  juv_misd_count           199 non-null    float64
 13  juv_other_count          199 non-null    float64
 14  priors_count             199 non-null    float64
 15  days_b_screening_arrest  192 non-null    float64
 16  c_jail_in                192 non-null    object
 17  c_jail_out               192 non-null    object
 18  c_case_number            198 non-null    object
 19  c_offense_date           166 non-null    object
 20  c_arrest_date            32 non-null     object
 21  c_days_from_compas       198 non-null    float64
 22  c_charge_degree          199 non-null    object
 23  c_charge_desc            197 non-null    object
 24  is_recid                 199 non-null    float64
 25  r_case_number            108 non-null    object
 26  r_charge_degree          108 non-null    object
 27  r_days_from_arrest       70 non-null     float64
 28  r_offense_date           108 non-null    object
 29  r_charge_desc            107 non-null    object
 30  r_jail_in                70 non-null     object
 31  r_jail_out               70 non-null     object
 32  violent_recid            0 non-null      float64
 33  is_violent_recid         199 non-null    float64
 34  vr_case_number           26 non-null     object
 35  vr_charge_degree         26 non-null     object
 36  vr_offense_date          26 non-null     object
 37  vr_charge_desc           26 non-null     object
 38  type_of_assessment       199 non-null    object
 39  decile_score.1           199 non-null    float64
 40  score_text               199 non-null    object
 41  screening_date           199 non-null    object
 42  v_type_of_assessment     199 non-null    object
 43  v_decile_score           199 non-null    float64
 44  v_score_text             199 non-null    object
 45  v_screening_date         199 non-null    object
 46  in_custody               192 non-null    object
 47  out_custody              192 non-null    object
 48  priors_count.1           199 non-null    float64
 49  start                    199 non-null    float64
 50  end                      199 non-null    float64
 51  event                    199 non-null    float64
 52  two_year_recid           199 non-null    float64
dtypes: float64(20), object(33)
memory usage: 126.6+ KB

In [104]:
df_clean.drop(['vr_case_number', 'vr_charge_degree', 'vr_offense_date',
              'vr_charge_desc', 'r_case_number', 'r_charge_degree',
              'r_days_from_arrest', 'r_offense_date', 'r_charge_desc', 
              'r_jail_in', 'r_jail_out', 'violent_recid', 'c_arrest_date'], axis = 1, inplace = True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       199 non-null    float64
 1   name                     199 non-null    object
 2   first                    199 non-null    object
 3   last                     199 non-null    object
 4   compas_screening_date    199 non-null    object
 5   sex                      199 non-null    object
 6   dob                      199 non-null    object
 7   age                      199 non-null    float64
 8   age_cat                  199 non-null    object
 9   race                     199 non-null    object
 10  juv_fel_count            199 non-null    float64
 11  decile_score             199 non-null    float64
 12  juv_misd_count           199 non-null    float64
 13  juv_other_count          199 non-null    float64
 14  priors_count             199 non-null    float64
 15  days_b_screening_arrest  192 non-null    float64
 16  c_jail_in                192 non-null    object
 17  c_jail_out               192 non-null    object
 18  c_case_number            198 non-null    object
 19  c_offense_date           166 non-null    object
 20  c_days_from_compas       198 non-null    float64
 21  c_charge_degree          199 non-null    object
 22  c_charge_desc            197 non-null    object
 23  is_recid                 199 non-null    float64
 24  is_violent_recid         199 non-null    float64
 25  type_of_assessment       199 non-null    object
 26  decile_score.1           199 non-null    float64
 27  score_text               199 non-null    object
 28  screening_date           199 non-null    object
 29  v_type_of_assessment     199 non-null    object
 30  v_decile_score           199 non-null    float64
 31  v_score_text             199 non-null    object
 32  v_screening_date         199 non-null    object
 33  in_custody               192 non-null    object
 34  out_custody              192 non-null    object
 35  priors_count.1           199 non-null    float64
 36  start                    199 non-null    float64
 37  end                      199 non-null    float64
 38  event                    199 non-null    float64
 39  two_year_recid           199 non-null    float64
dtypes: float64(18), object(22)
memory usage: 96.1+ KB

In [105]:
model = GaussianCopula()
model.fit(df_clean)

/usr/local/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:5320: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/usr/local/lib/python3.8/site-packages/scipy/stats/_distn_infrastructure.py:2606: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/usr/local/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:639: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/usr/local/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:615: RuntimeWarning: divide by zero encountered in _beta_cdf
  return _boost._beta_cdf(x, a, b)
/usr/local/lib/python3.8/site-packages/scipy/optimize/minpack.py:175: RuntimeWarning: The number of calls to function has reached maxfev = 600.
  warnings.warn(msg, RuntimeWarning)
/usr/local/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:5311: RuntimeWarning: divide by zero encountered in power
  return cd2*x**(c-1)
/usr/local/lib/python3.8/site-packages/copulas/univariate/truncated_gaussian.py:43: RuntimeWarning: invalid value encountered in double_scalars
  a = (self.min - loc) / scale
/usr/local/lib/python3.8/site-packages/copulas/univariate/truncated_gaussian.py:44: RuntimeWarning: divide by zero encountered in double_scalars
  b = (self.max - loc) / scale

In [109]:
df_new = model.sample(7000)
df_new.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
0,140.0,matthew grant,michael,hernandez,9/5/13,Male,7/24/85,49.0,25 - 45,African-American,...,1.0,Low,9/5/13,NaN,NaN,0.0,0.0,993.0,0.0,0.0
1,96.0,maslin brutus,michael,wilson,11/15/14,Male,3/16/84,44.0,NaN,African-American,...,3.0,Low,11/15/14,NaN,NaN,5.0,32.0,708.0,1.0,1.0
2,181.0,kortney coleman,matthew,jones,1/1/13,NaN,8/22/78,32.0,25 - 45,African-American,...,3.0,Low,1/1/13,NaN,NaN,0.0,0.0,1005.0,0.0,0.0
3,48.0,jimmy bell,jimmy,bell,1/27/14,Male,4/2/57,31.0,25 - 45,Other,...,2.0,Low,1/27/14,NaN,NaN,2.0,0.0,235.0,0.0,0.0
4,228.0,neil heckart,neil,heckart,2/26/13,NaN,12/24/84,37.0,Less than 25,Hispanic,...,3.0,Medium,2/26/13,NaN,NaN,5.0,49.0,718.0,1.0,1.0

In [110]:
model.save('synth_model.pkl')

In [111]:
loaded = GaussianCopula.load('synth_model.pkl')
df_new = loaded.sample(7000)

/usr/local/lib/python3.8/site-packages/scipy/stats/_continuous_distns.py:624: RuntimeWarning: overflow encountered in _beta_ppf
  return _boost._beta_ppf(q, a, b)

In [112]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 40 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7000 non-null   float64
 1   name                     7000 non-null   object
 2   first                    7000 non-null   object
 3   last                     7000 non-null   object
 4   compas_screening_date    7000 non-null   object
 5   sex                      5972 non-null   object
 6   dob                      7000 non-null   object
 7   age                      7000 non-null   float64
 8   age_cat                  6681 non-null   object
 9   race                     6938 non-null   object
 10  juv_fel_count            7000 non-null   float64
 11  decile_score             7000 non-null   float64
 12  juv_misd_count           7000 non-null   float64
 13  juv_other_count          7000 non-null   float64
 14  priors_count             7000 non-null   float64
 15  days_b_screening_arrest  4257 non-null   float64
 16  c_jail_in                2378 non-null   object
 17  c_jail_out               2387 non-null   object
 18  c_case_number            2474 non-null   object
 19  c_offense_date           2057 non-null   object
 20  c_days_from_compas       4341 non-null   float64
 21  c_charge_degree          6177 non-null   object
 22  c_charge_desc            2902 non-null   object
 23  is_recid                 7000 non-null   float64
 24  is_violent_recid         7000 non-null   float64
 25  type_of_assessment       6449 non-null   object
 26  decile_score.1           7000 non-null   float64
 27  score_text               6683 non-null   object
 28  screening_date           7000 non-null   object
 29  v_type_of_assessment     6449 non-null   object
 30  v_decile_score           7000 non-null   float64
 31  v_score_text             6961 non-null   object
 32  v_screening_date         7000 non-null   object
 33  in_custody               2471 non-null   object
 34  out_custody              2463 non-null   object
 35  priors_count.1           7000 non-null   float64
 36  start                    7000 non-null   float64
 37  end                      7000 non-null   float64
 38  event                    7000 non-null   float64
 39  two_year_recid           7000 non-null   float64
dtypes: float64(18), object(22)
memory usage: 2.1+ MB